@model IEnumerable<SistemaFacturacionWeb.Models.sucursal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetallesSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetallesSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSucursal }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSucursal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSucursal })
        </td>
    </tr>
}

</table>
