
@model IEnumerable<SistemaFacturacionWeb.Models.cliente>

@{
    ViewBag.Title = "Cliente";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CedulaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimientoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CedulaCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimientoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailCliente)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
