@model SistemaFacturacionWeb.Models.modopago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>modopago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreModoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreModoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetalleModoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetalleModoPago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdModoPago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
