@model IEnumerable<SistemaFacturacionWeb.Models.modopago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreModoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleModoPago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreModoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleModoPago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdModoPago }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdModoPago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdModoPago })
        </td>
    </tr>
}

</table>
