@model SistemaFacturacionWeb.Models.impuesto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>impuesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreImpuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreImpuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorAgregadoImpuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorAgregadoImpuesto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdImpuesto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
