@model IEnumerable<SistemaFacturacionWeb.Models.bodega>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sucursal.NombreSucursal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreBodega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sucursal.NombreSucursal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBodega }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBodega }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBodega })
        </td>
    </tr>
}

</table>
