@model SistemaFacturacionWeb.Models.articulo

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    function validar(e) {



        tecla = (document.all) ? e.keyCode : e.which;
        if (tecla == 8) return true; //Tecla de retroceso (para poder borrar)
        if (tecla == 44) return true; //Coma ( En este caso para diferenciar los decimales )
        if (tecla == 48) return true;
        if (tecla == 49) return true;
        if (tecla == 50) return true;
        if (tecla == 51) return true;
        if (tecla == 52) return true;
        if (tecla == 53) return true;
        if (tecla == 54) return true;
        if (tecla == 55) return true;
        if (tecla == 56) return true;
        if (tecla == 57) return true;
        patron = /1/; //ver nota
        te = String.fromCharCode(tecla);
        return patron.test(te);
    }
</script>


<h2>Nuevo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>articulo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.NombreArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreArticulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreArticulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DescripcionArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescripcionArticulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescripcionArticulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StockMinArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input type="Text" name="StockMinArticulo" id="StockMinArticulo" value="0" min="1" onKeyPress="return validar(event)" class="form-control" title="Minimo de Articulos 1"><br>
            @Html.ValidationMessageFor(model => model.StockMinArticulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StockMaxArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="Text" name="StockMaxArticulo" id="StockMaxArticulo" value="0" min="10" onKeyPress="return validar(event)" class="form-control" title=" Minimo de Articulos 10"><br>
            @Html.ValidationMessageFor(model => model.StockMaxArticulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrecioPromedioArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="Text" name="PrecioPromedioArticulo" value="0,00" onKeyPress="return validar(event)" class="form-control"><br>
            @Html.ValidationMessageFor(model => model.PrecioPromedioArticulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CantidadArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="Text" name="CantidadArticulo" onKeyPress="return validar(event)" class="form-control"><br>
            @Html.ValidationMessageFor(model => model.CantidadArticulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaVencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.UnidadMedidaArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="Factura" name="UnidadMedidaArticulo" class="form-control">
                <option value="Unidades">Unidades</option>
                <option value="Caja">Caja</option>
                <option value="Metros">Metros</option>
            </select><br>
            @Html.ValidationMessageFor(model => model.UnidadMedidaArticulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
