@model SistemaFacturacionWeb.Models.articulo

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Seguro desea Eliminar?</h3>
<div>
    <h4>articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMinArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMinArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMaxArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMaxArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioPromedioArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioPromedioArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedidaArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedidaArticulo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("volver", "Index")
        </div>
    }
</div>
