@model SistemaFacturacionWeb.Models.VentasDetalles


<h2>Eliminar</h2>

<h3>Seguro desea Eliminar?</h3>
<div>
    <h4>Ventas Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticuloCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticuloCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ventas.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ventas.Cliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
